body {
    background-color: rgb(141, 212, 224);
    padding: 0;
    margin: 0;
}

#container {
    color: rgb(40, 91, 100);
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    margin-top: 1%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

header#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(94, 153, 163);
}